*.iml
.gradle/
.idea/
.kotlin/
local.properties
/build/
/app/build/
/app/release/
/app/src/main/jniLibs/
/external/
*.jks
*.keystore
*.apk
*.aab
*.ap_
SHA256SUMS
captures/
.local/
.externalNativeBuild/
.cxx/
